<div>
    <h2 translate="internShippingApp.resume.home.title">Resumes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="resume.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="internShippingApp.resume.home.createLabel">
                        Create new Resume
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'internShippingApp.resume.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="internShippingApp.resume.image">Image</span></th>
                    <th><span translate="internShippingApp.resume.name">Name</span></th>
                    <th><span translate="internShippingApp.resume.title">Title</span></th>
                    <th><span translate="internShippingApp.resume.overview">Overview</span></th>
                    <th><span translate="internShippingApp.resume.education">Education</span></th>
                    <th><span translate="internShippingApp.resume.faculty">Faculty</span></th>
                    <th><span translate="internShippingApp.resume.enrollmentYear">Enrollment Year</span></th>
                    <th><span translate="internShippingApp.resume.location">Location</span></th>
                    <th><span translate="internShippingApp.resume.contactEmail">Contact Email</span></th>
                    <th><span translate="internShippingApp.resume.birthDate">Birth Date</span></th>
                    <th><span translate="internShippingApp.resume.jsonResume">Json Resume</span></th>
                    <th><span translate="internShippingApp.resume.cvFile">Cv File</span></th>
                    <th><span translate="internShippingApp.resume.receiveJobAlerts">Receive Job Alerts</span></th>
                    <th><span translate="internShippingApp.resume.socialLinkedin">Social Linkedin</span></th>
                    <th><span translate="internShippingApp.resume.representativeSkills">Representative Skills</span></th>
                    <th><span translate="internShippingApp.resume.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="resume in vm.resumes track by resume.id">
                    <td><a ui-sref="resume-detail({id:resume.id})">{{resume.id}}</a></td>
                    <td>
                        <a ng-if="resume.image" ng-click="vm.openFile(resume.imageContentType, resume.image)">
                            <img data-ng-src="{{'data:' + resume.imageContentType + ';base64,' + resume.image}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="resume.image">{{resume.imageContentType}}, {{vm.byteSize(resume.image)}}</span>
                    </td>
                    <td>{{resume.name}}</td>
                    <td>{{resume.title}}</td>
                    <td>{{resume.overview}}</td>
                    <td translate="{{'internShippingApp.Education.' + resume.education}}">{{resume.education}}</td>
                    <td>{{resume.faculty}}</td>
                    <td>{{resume.enrollmentYear}}</td>
                    <td>{{resume.location}}</td>
                    <td>{{resume.contactEmail}}</td>
                        <td>{{resume.birthDate | date:'mediumDate'}}</td>
                    <td>{{resume.jsonResume}}</td>
                    <td>
                        <a ng-if="resume.cvFile" ng-click="vm.openFile(resume.cvFileContentType, resume.cvFile)" translate="entity.action.open">open</a>
                        <span ng-if="resume.cvFile">{{resume.cvFileContentType}}, {{vm.byteSize(resume.cvFile)}}</span>
                    </td>
                    <td>{{resume.receiveJobAlerts}}</td>
                    <td>{{resume.socialLinkedin}}</td>
                    <td>{{resume.representativeSkills}}</td>
                    <td>
                        {{resume.user.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="resume-detail({id:resume.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="resume.edit({id:resume.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="resume.delete({id:resume.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
