<!-- Page header -->
<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <img width="140px" data-ng-src="{{'data:' + vm.resume.imageContentType + ';base64,' + vm.resume.image}}" style="max-width: 100%;"/>
            </div>

            <div class="col-xs-12 col-sm-10 header-detail">
                <div class="hgroup">
                    <h1>{{vm.resume.name}}</h1>
                    <h3>{{vm.resume.title}}</h3>
                </div>
                <hr>
                <p class="lead">{{vm.resume.overview}}</p>

                <ul class="details cols-2">
                    <li>
                        <i class="fa fa-graduation-cap"></i>
                        <span translate="{{'internShippingApp.Education.' + vm.resume.education}}">{{vm.resume.education}}</span>
                    </li>

                    <li ng-show="vm.resume.faculty != null">
                        <i class="fa fa-building"></i>
                        <a href="#">{{vm.resume.faculty}}</a>
                    </li>

                    <li ng-show="vm.resume.enrollmentYear != null">
                        <i class="fa fa-calendar"></i>
                        <span>Enrolled: {{vm.resume.enrollmentYear}}</span>
                    </li>

                    <li ng-show="vm.resume.birthDate != null">
                        <i class="fa fa-birthday-cake"></i>
                        <span>{{vm.resume.birthDate | date:'mediumDate'}}</span>
                    </li>

                    <li ng-show="vm.resume.location != null">
                        <i class="fa fa-map-marker"></i>
                        <span>{{vm.resume.location}}</span>
                    </li>

                    <li ng-show="vm.resume.contactEmail != null">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:{{vm.resume.contactEmail}}">{{vm.resume.contactEmail}}</a>
                    </li>
                </ul>

                <div class="tag-list">
                    <span>{{vm.resume.representativeSkills}}</span>
                </div>
            </div>
        </div>

        <div class="button-group">
            <ul class="social-icons" >
                <li ng-show="vm.resume.socialLinkedin != null" ><a class="linkedin" target="_blank" href="http://{{vm.resume.socialLinkedin}}"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <div class="action-buttons">
                <a class="btn btn-gray" ng-click="vm.openFile(vm.resume.cvFileContentType, vm.resume.cvFile)">Download CV</a>
                <a class="btn btn-success" data-toggle="modal" data-target="#modal-contact" href="mailto:{{vm.resume.contactEmail}}">Contact me</a>
            </div>
        </div>
    </div>
</header>
<!-- END Page header -->


<!-- Main container -->
<main>

<!--

<div>
    <h2><span translate="internShippingApp.resume.detail.title">Resume</span> {{vm.resume.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="internShippingApp.resume.image">Image</span></dt>
        <dd>
            <div ng-if="vm.resume.image">
                <a ng-click="vm.openFile(vm.resume.imageContentType, vm.resume.image)">
                    <img data-ng-src="{{'data:' + vm.resume.imageContentType + ';base64,' + vm.resume.image}}" style="max-width: 100%;"/>
                </a>
                {{vm.resume.imageContentType}}, {{vm.byteSize(vm.resume.image)}}
            </div>
        </dd>
        <dt><span translate="internShippingApp.resume.name">Name</span></dt>
        <dd>
            <span>{{vm.resume.name}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.title">Title</span></dt>
        <dd>
            <span>{{vm.resume.title}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.overview">Overview</span></dt>
        <dd>
            <span>{{vm.resume.overview}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.education">Education</span></dt>
        <dd>
            <span translate="{{'internShippingApp.Education.' + vm.resume.education}}">{{vm.resume.education}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.faculty">Faculty</span></dt>
        <dd>
            <span>{{vm.resume.faculty}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.enrollmentYear">Enrollment Year</span></dt>
        <dd>
            <span>{{vm.resume.enrollmentYear}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.location">Location</span></dt>
        <dd>
            <span>{{vm.resume.location}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.contactEmail">Contact Email</span></dt>
        <dd>
            <span>{{vm.resume.contactEmail}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.birthDate">Birth Date</span></dt>
        <dd>
            <span>{{vm.resume.birthDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.jsonResume">Json Resume</span></dt>
        <dd>
            <span>{{vm.resume.jsonResume}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.cvFile">Cv File</span></dt>
        <dd>
            <div ng-if="vm.resume.cvFile">
                <a ng-click="vm.openFile(vm.resume.cvFileContentType, vm.resume.cvFile)" translate="entity.action.open">open</a>
                {{vm.resume.cvFileContentType}}, {{vm.byteSize(vm.resume.cvFile)}}
            </div>
        </dd>
        <dt><span translate="internShippingApp.resume.cvFileContent">Cv File Content</span></dt>
 &lt;!&ndash;       <dd>
            <span>{{vm.resume.cvFileContent}}</span>
        </dd>&ndash;&gt;
        <dt><span translate="internShippingApp.resume.receiveJobAlerts">Receive Job Alerts</span></dt>
        <dd>
            <span>{{vm.resume.receiveJobAlerts}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.socialLinkedin">Social Linkedin</span></dt>
        <dd>
            <span>{{vm.resume.socialLinkedin}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.representativeSkills">Representative Skills</span></dt>
        <dd>
            <span>{{vm.resume.representativeSkills}}</span>
        </dd>
        <dt><span translate="internShippingApp.resume.user">User</span></dt>
        <dd>
            {{vm.resume.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
-->

</main>
