<!-- Page header -->
    <header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
      <div class="container">
        <div class="header-detail">

          <img ng-if="vm.company.logo" class="logo" data-ng-src="{{'data:' + vm.company.logoContentType + ';base64,' + vm.company.logo}}" width="92px" />
          <div class="hgroup">
            <h1>{{vm.company.name}}</h1>
            <h3>{{vm.company.domain}}</h3>
          </div>
          <hr>
          <p class="lead">{{vm.company.shortDescription}}</p>

          <ul class="details cols-3">
            <li ng-if="vm.company.address">
              <i class="fa fa-map-marker"></i>
              <span>{{vm.company.address}}</span>
            </li>

            <li ng-if="vm.company.website">
              <i class="fa fa-globe"></i>
              <a href="#">{{vm.company.website}}</a>
            </li>

            <li ng-if="vm.company.companySize">
              <i class="fa fa-users"></i>
              <span>{{vm.company.companySize}}</span>
            </li>

            <li ng-if="vm.company.foundedYear">
              <i class="fa fa-birthday-cake"></i>
              <span>{{vm.company.foundedYear}}</span>
            </li>

            <li ng-if="vm.company.contactNumber">
              <i class="fa fa-phone"></i>
              <span>{{vm.company.contactNumber}}</span>
            </li>

            <li ng-if="vm.company.contactEmail">
              <i class="fa fa-envelope"></i>
              <a href="#">{{vm.company.contactEmail}}</a>
            </li>
          </ul>

          <div class="button-group">
            <ul class="social-icons">
              <li ng-if="vm.company.socialFacebook"><a class="facebook" href="{{vm.company.socialFacebook}}"><i class="fa fa-facebook"></i></a></li>
              <li ng-if="vm.company.socialTwitter"><a class="twitter" href="{{vm.company.socialTwitter}}"><i class="fa fa-twitter"></i></a></li>
              <li ng-if="vm.company.socialLinkedin"><a class="linkedin" href="{{vm.company.socialLinkedin}}"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <div class="action-buttons">
              <a class="btn btn-success" href="mailto:{{vm.company.contactEmail}}">Contact</a>
            </div>
          </div>

        </div>
      </div>
    </header>
    <!-- END Page header -->

<div class="container">


<!-- Main container -->
    <main>


      <!-- Company detail -->
      <section>
        <div class="container">

          <header class="section-header">
            <span>About</span>
            <h2>Company detail</h2>
          </header>

          {{vm.company.longDescription}}

        </div>
      </section>
      <!-- END Company detail -->


      <!-- Open positions -->
      <section id="open-positions" class="bg-alt">
        <div class="container">
          <header class="section-header">
            <span>vacancies</span>
            <h2>Open positions</h2>
          </header>

          <div class="row">

              <!-- Job item -->
              <div class="col-xs-12" ng-repeat="job in vm.company.jobs track by job.id">
                  <a class="item-block" ui-sref="job-detail({id:job.id})">
                      <header>
                          <img ng-show="vm.company.logo == null" src="assets/img/logo-unknown.jpg" alt="">
                          <img ng-show="vm.company.logo != null" data-ng-src="{{'data:' + vm.company.logoContentType + ';base64,' + vm.company.logo}}" style="max-height: 60 px;"/>
                          <div class="hgroup">
                              <h4>{{job.title}}</h4>
                              <h5>{{vm.company.name}} <span class="label label-success">{{job.jobType}}</span><span class="label label-info">{{job.jobLevel}}</span></h5>
                          </div>
                          <div class="header-meta">
                              <span class="location">{{job.location}}</span>
                              <time datetime="2016-03-10 20:00">34 min ago</time>
                          </div>
                      </header>

                      <div class="item-body">
                          <p>{{job.shortDescription}}</p>
                      </div>

                      <footer>
                          <ul class="details cols-3">
                              <li ng-show="job.activeUntil != null">
                                  <i class="fa fa-calendar"></i>
                                  <span>{{job.activeUntil}}</span>
                              </li>

                              <li ng-show="job.compensation != null">
                                  <i class="fa fa-money"></i>
                                  <span>{{job.compensation}}</span>
                              </li>

                              <li ng-show="job.education != null">
                                  <i class="fa fa-certificate"></i>
                                  <span>{{job.education}}</span>
                              </li>
                          </ul>
                      </footer>
                  </a>
              </div>
              <!-- END Job item -->





          </div>

        </div>
      </section>
      <!-- END Open positions -->


    </main>
    <!-- END Main container -->


</div>

</div>
