<!-- Page header -->
    <header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg);">
      <div class="container page-name">
        <h1 class="text-center">Browse companies</h1>
        <p class="lead text-center">Find companies that fits you better</p>
      </div>

      <div class="container">
        <!-- <form  name="searchForm">

          <div class="row">
            <div class="form-group col-xs-12 col-sm-12">

            <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'internShippingApp.company.home.search' | translate }}">
            </div>

          </div>

          <div class="button-group">
            <div class="action-buttons">
              <button class="btn btn-primary" ng-click="vm.search(vm.searchQuery)">Apply filter</button>
            </div>
          </div>

        </form>-->

      </div>

    </header>
    <!-- END Page header -->


    <div class="container">

<!--
<div>
    <h2 translate="internShippingApp.company.home.title">Companies</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="company.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="internShippingApp.company.home.createLabel">
                        Create new Company
                    </span>
                </button>
            </div>

        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="logo"><span translate="internShippingApp.company.logo">Logo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="internShippingApp.company.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="domain"><span translate="internShippingApp.company.domain">Domain</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shortDescription"><span translate="internShippingApp.company.shortDescription">Short Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longDescription"><span translate="internShippingApp.company.longDescription">Long Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="website"><span translate="internShippingApp.company.website">Website</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactEmail"><span translate="internShippingApp.company.contactEmail">Contact Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactNumber"><span translate="internShippingApp.company.contactNumber">Contact Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companySize"><span translate="internShippingApp.company.companySize">Company Size</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="foundedYear"><span translate="internShippingApp.company.foundedYear">Founded Year</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="socialFacebook"><span translate="internShippingApp.company.socialFacebook">Social Facebook</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="socialLinkedin"><span translate="internShippingApp.company.socialLinkedin">Social Linkedin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="socialYoutube"><span translate="internShippingApp.company.socialYoutube">Social Youtube</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="socialTwitter"><span translate="internShippingApp.company.socialTwitter">Social Twitter</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span translate="internShippingApp.company.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userLogin"><span translate="internShippingApp.company.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in vm.companies track by company.id">
                    <td><a ui-sref="company-detail({id:company.id})">{{company.id}}</a></td>
                    <td>
                        <a ng-if="company.logo" ng-click="vm.openFile(company.logoContentType, company.logo)">
                            <img data-ng-src="{{'data:' + company.logoContentType + ';base64,' + company.logo}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="company.logo">{{company.logoContentType}}, {{vm.byteSize(company.logo)}}</span>
                    </td>
                    <td>{{company.name}}</td>
                    <td>{{company.domain}}</td>
                    <td>{{company.shortDescription}}</td>
                    <td>{{company.longDescription}}</td>
                    <td>{{company.website}}</td>
                    <td>{{company.contactEmail}}</td>
                    <td>{{company.contactNumber}}</td>
                    <td>{{company.companySize}}</td>
                    <td>{{company.foundedYear}}</td>
                    <td>{{company.socialFacebook}}</td>
                    <td>{{company.socialLinkedin}}</td>
                    <td>{{company.socialYoutube}}</td>
                    <td>{{company.socialTwitter}}</td>
                    <td>{{company.address}}</td>
                    <td>
                        {{company.userLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="company-detail({id:company.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="company.edit({id:company.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="company.delete({id:company.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
-->

  <button class="btn btn-primary" ui-sref="company.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="internShippingApp.company.home.createLabel">
                        Create new Company
                    </span>
                </button>

 <!-- Main container -->
    <main>
      <section class="no-padding-top bg-alt">
        <div class="container">
          <div class="row">


            <!-- Company detail -->
            <div class="col-xs-12"  ng-repeat="company in vm.companies track by company.id">
              <a class="item-block" ui-sref="company-detail({id:company.id})">
                <header>
                   <img data-ng-src="{{'data:' + company.logoContentType + ';base64,' + company.logo}}" style="max-height: 60 px;"/>
                  <div class="hgroup">
                    <h4>{{company.name}}</h4>
                    <h5>{{company.domain}}</h5>
                  </div>
                  <span class="open-position">15 open position</span>
                </header>

                <div class="item-body">
                  <p>{{company.shortDescription}}</p>
                </div>
              </a>
            </div>
            <!-- END Company detail -->

        <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>

          </div>
        </div>
      </section>
    </main>
    <!-- END Main container -->



</div>
