<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation >

  <!-- Page header -->
      <header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg);">
        <div class="container page-name">
          <h1 class="text-center">Add your company</h1>
          <p class="lead text-center">Create a profile for your company and put it online.</p>
        </div>

        <div class="container">

          <div class="row">
            <div class="col-xs-12">
              <div class="row">

                  <div class="col-xs-12 col-sm-4 col-lg-2">
                  <div class="form-group" ngf-drop ngf-change="vm.setLogo($file, vm.company)" ngf-pattern="'image/*'">
                      <label class="control-label" translate="internShippingApp.company.logo" for="field_logo">Logo</label>
                      <div>
                          <img data-ng-src="{{'data:' + vm.company.logoContentType + ';base64,' + vm.company.logo}}" style="max-height: 100px;" ng-if="vm.company.logo"/>
                          <div ng-if="vm.company.logo" class="help-block clearfix">
                              <span class="pull-left">{{vm.company.logoContentType}}, {{vm.byteSize(vm.company.logo)}}</span>
                              <button ng-click="vm.company.logo=null;vm.company.logoContentType=null;"
                                      class="btn btn-default btn-xs pull-right">
                                  <span class="glyphicon glyphicon-remove"></span>
                              </button>
                          </div>
                          <button type="file" ngf-select class="btn btn-default btn-block"
                                  ngf-change="vm.setLogo($file, vm.company)" accept="image/*" translate="entity.action.addimage">
                              Add image
                          </button>
                      </div>
                      <input type="hidden" class="form-control" name="logo" id="field_logo"
                             ng-model="vm.company.logo"
                      />
                      <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                             ng-model="vm.company.logoContentType" />
                  </div>
                  </div>


 <!--               <div class="col-xs-12 col-sm-4 col-lg-2">
                  <div class="form-group">
                    <input type="file" ngf-change="vm.setLogo($file, vm.company)" class="dropify" data-default-file="assets/img/logo-default.png">
                    <span class="help-block">A square logo</span>
                  </div>
                </div>-->



                <div class="col-xs-12 col-sm-8 col-lg-10">
                  <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Comapny name" id="field_name"
                    ng-model="vm.company.name"
                    required ng-minlength="3" ng-maxlength="40">


              <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="40">
                    This field cannot be longer than 40 characters.
                </p>


            </div>
                  </div>


                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Headline (e.g. Internet and computer software)"  id="field_domain"
                    ng-model="vm.company.domain">
                  </div>

                  <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Short description" name="shortDescription" id="field_shortDescription"
                    ng-model="vm.company.shortDescription"
                    required ng-maxlength="300"></textarea>
                    <div ng-show="editForm.shortDescription.$invalid">
                <p class="help-block"
                    ng-show="editForm.shortDescription.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.shortDescription.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="300">
                    This field cannot be longer than 300 characters.
                </p>
            </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-xs-12">
              <div class="row">

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.company.address" placeholder="Location, e.g. Belgrade, Knez Mihajlova 1"  name="address" id="field_address"
                    ng-model="vm.company.address"
                     />
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-users"></i></span>
                    <input type="text" class="form-control" placeholder="100-200" name="companySize" id="field_companySize"
                    ng-model="vm.company.companySize"/>
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    <input type="text" class="form-control" placeholder="Website address" id="field_website"
                    ng-model="vm.company.website"
                    required/>
                    <div ng-show="editForm.website.$invalid">
                <p class="help-block"
                    ng-show="editForm.website.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                    <input type="text" class="form-control" placeholder="Founded on, e.g. 2013"  name="foundedYear" id="field_foundedYear"
                    ng-model="vm.company.foundedYear"/>
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input type="text" class="form-control" placeholder="Phone number" name="contactNumber" id="field_contactNumber"
                    ng-model="vm.company.contactNumber"/>
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control" placeholder="Email address" name="contactEmail" id="field_contactEmail"
                    ng-model="vm.company.contactEmail"/>
                  </div>
                </div>

              </div>
            </div>


          </div>



        </div>
      </header>
      <!-- END Page header -->


   <div class="container">

<!-- Main container -->
      <main>

        <!-- Social media -->
        <section>
          <div class="container">

            <header class="section-header">
              <span>Get connected</span>
              <h2>Social media</h2>
            </header>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                    <input type="text" class="form-control" placeholder="Profile URL" name="socialFacebook" id="field_socialFacebook"
                    ng-model="vm.company.socialFacebook"/>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                    <input type="text" class="form-control" placeholder="Profile URL" name="socialLinkedin" id="field_socialLinkedin"
                    ng-model="vm.company.socialLinkedin"/>
                  </div>
                </div>



              </div>

              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                    <input type="text" class="form-control" placeholder="Profile URL" name="socialTwitter" id="field_socialTwitter"
                    ng-model="vm.company.socialTwitter">
                  </div>
                </div>


                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-youtube"></i></span>
                    <input type="text" class="form-control" placeholder="Profile URL" name="socialYoutube" id="field_socialYoutube"
                    ng-model="vm.company.socialYoutube"/>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- Social media -->

        <!-- Company detail -->
        <section class=" bg-alt">
          <div class="container">

            <header class="section-header">
              <span>About</span>
              <h2>Company detail</h2>
              <p>Write about your company, culture, benefits of working there, etc.</p>
            </header>

            <textarea class="summernote-editor"></textarea>

          </div>
        </section>
        <!-- END Company detail -->


        <!-- Submit -->
        <section>
          <div class="container">
            <header class="section-header">
              <span>Are you done?</span>
              <h2>Submit it</h2>
              <p>Please review your information once more and press the below button to put your company online.</p>
            </header>

            <p class="text-center"><button class="btn btn-success btn-xl btn-round" ng-disabled="editForm.$invalid || vm.isSaving" translate="entity.action.save">Submit your company</button></p>

          </div>
        </section>
        <!-- END Submit -->


      </main>
      <!-- END Main container -->


</div>

</form>
