<!-- Page header -->
<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg);">
    <div class="container page-name">
        <h1 class="text-center">Your company</h1>
        <p class="lead text-center">This is how it looks.</p>
    </div>


</header>
<!-- END Page header -->


<div class="container">


    <button ng-hide="vm.queryCount > 0" class="btn btn-primary" ui-sref="company.new">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs" translate="internShippingApp.company.home.createLabel">
                        Create new Company
                    </span>
    </button>

    <!-- Main container -->
    <main>
        <section class="no-padding-top bg-alt">
            <div class="container">
                <div class="row">


                    <!-- Company detail -->
                    <div class="col-xs-12" ng-repeat="company in vm.companies track by company.id">
                        <a class="item-block" ui-sref="company-detail({id:company.id})">
                            <header>
                                <img data-ng-src="{{'data:' + company.logoContentType + ';base64,' + company.logo}}"
                                     style="max-height: 60 px;"/>
                                <div class="hgroup">
                                    <h4>{{company.name}}</h4>
                                    <h5>{{company.domain}}</h5>
                                </div>

                                <div class="action-btn">
                                    <button type="submit"
                                            ui-sref="company.edit({id:company.id})"
                                            class="btn btn-xs btn-primary">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="company.delete({id:company.id})"
                                            class="btn btn-xs btn-danger ">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                                    </button>
                                </div>

                            </header>

                            <div class="item-body">
                                <p>{{company.shortDescription}}</p>
                            </div>
                        </a>
                    </div>
                    <!-- END Company detail -->

                    <div class="text-center">
                        <jhi-item-count page="vm.page" total="vm.queryCount"
                                        items-per-page="vm.itemsPerPage"></jhi-item-count>
                        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                                        ng-change="vm.transition()"></uib-pagination>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <!-- END Main container -->


</div>
