<!-- <div class="col-md-6">
            <br/>
            <jh-social ng-provider="google"></jh-social>
            <jh-social ng-provider="twitter"></jh-social>
            jhipster-needle-add-social-button -->



<div class="">
<main>

      <div class="login-block">
        <img src="assets/img/logo.png" alt="">
        <h1  translate="login.title">Log into your account</h1>

         <div class="alert alert-danger" ng-show="vm.authenticationError" translate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>

        <form action="#" role="form" ng-submit="vm.login($event)">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="ti-email"></i></span>
              <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
            </div>
          </div>
          
          <hr class="hr-xs">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="ti-unlock"></i></span>
              <input type="password" class="form-control" placeholder="Password" placeholder="{{'login.form.password.placeholder' | translate}}" ng-model="vm.password">
            </div>
          </div>

          <button class="btn btn-primary btn-block" type="submit"  translate="login.form.button">Sign in</button>

          <div class="login-footer">
            <h6>Or login with</h6>
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>

        </form>
      </div>

      <div class="login-links ">
        <a class="pull-left" href="" ng-click="vm.requestResetPassword()" translate="login.password.forgot">Forget Password?</a>
        <a class="pull-right" translate="global.messages.info.register" translate-compile href="" ng-click="vm.register()">Register an account</a>
      </div>

    </main>
</div>