<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <!-- Logo -->
        <div class="pull-left">
          <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

          <div class="logo-wrapper">
            <a class="logo" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
            <a class="logo-alt" href="index.html"><img src="assets/img/logo-alt.png" alt="logo-alt"></a>
          </div>

        </div>
        <!-- END Logo -->

        <!-- User account -->
        <div ng-hide="vm.isAuthenticated()"  class="pull-right user-login">
          <a class="btn btn-sm btn-primary" ng-click="vm.login()" id="login"><span translate="global.menu.account.login">Sign in</span>
</a> or <a ui-sref="register"> <span translate="global.menu.account.register">Register</span></a>
        </div>


        <div ng-show="vm.isAuthenticated()"  class="pull-right">

          <div class="dropdown user-account">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              <img src="assets/img/logo-envato.png" alt="avatar">
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <li><a ui-sref="settings"> <span translate="global.menu.account.settings">Settings</span></a></li>
              <li><a ui-sref="password"><span translate="global.menu.account.password">Password</span></a></li>
              <li><a ui-sref="sessions"><span translate="global.menu.account.sessions">Sessions</span></a></li>
              <li><a ng-click="vm.logout()"><span translate="global.menu.account.logout">Sign out</span></a></li>
            </ul>
          </div>

        </div>
        
        <!-- END User account -->


        <!-- Navigation menu -->
        <ul class="nav-menu" ng-switch="vm.isAuthenticated()">
          <li ui-sref-active="active">
            <a  href="#"><span class="hidden-sm" translate="global.menu.home">Home</span></a>
          </li>
          
          <!-- ALL -->
          <li><a ui-sref="article"><span translate="global.menu.entities.article">Article</span></a></li>
          <li><a ui-sref="company"><span translate="global.menu.entities.company">Company</span></a></li>
          <li><a ui-sref="job"><span translate="global.menu.entities.job">Job</span></a></li>
          
          <!-- CANDIDATE -->
          <li><a ui-sref="resume" has-authority="ROLE_CANDIDATE"><span translate="global.menu.resume.myresume">My Resumes</span></a></li>
          <li><a ui-sref="application" has-authority="ROLE_CANDIDATE"><span translate="global.menu.entities.application">Application</span></a></li>
          
          <!-- COMPANY -->
          <li><a ui-sref="resume" has-authority="ROLE_COMPANY"><span translate="global.menu.resume.browse">Browse Resumes</span></a></li>
          <li><a ui-sref="application" has-authority="ROLE_COMPANY"><span translate="global.menu.entities.application">Application</span></a></li>
          
         
          
          
          <!-- ADMIN -->
          <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN">
            <a href="#"><span class="hidden-sm" translate="global.menu.admin.main">Administration</span></a>
            <ul>
              <li><a ui-sref="mailing-list"><span translate="global.menu.entities.mailingList">Mailing List</span></a></li>
              <li><a ui-sref="user-management"><span translate="global.menu.admin.userManagement">User management</span></a></li>
              <li><a ui-sref="jhi-tracker"><span translate="global.menu.admin.tracker">User tracker</span></a></li>
              <li><a ui-sref="jhi-metrics"><span translate="global.menu.admin.metrics">Metrics</span></a></li>
              <li><a ui-sref="jhi-health"><span translate="global.menu.admin.health">Health</span></a></li>
              <li><a ui-sref="jhi-configuration"><span translate="global.menu.admin.configuration">Configuration</span></a></li>
              <li><a ui-sref="audits"> <span translate="global.menu.admin.audits">Audits</span></a></li>
              <li><a ui-sref="logs"><span translate="global.menu.admin.logs">Logs</span></a></li>
              <li ng-hide="vm.inProduction || vm.swaggerDisabled" ui-sref-active="active"><a  ui-sref="docs"><span translate="global.menu.admin.apidocs">API</span></a></li>
              <li ng-hide="vm.inProduction"><a href='/h2-console'> <span translate="global.menu.admin.database">Database</span></a></li>
              <li ui-sref-active="active" ng-controller="JhiLanguageController as languageVm" ><a ng-if="languageVm.languages.length > 1" href=""><span class="hidden-sm" translate="global.menu.language">Language</span></a> <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul></li>
            </ul>
          </li> 
        </ul>
        <!-- END Navigation menu -->

      </div>
</nav>
