 <!-- Page header -->
 <header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg);">
     <div class="container page-name">
         <h1 class="text-center">Jobs</h1>
         <p class="lead text-center">Find job that fits you best</p>
     </div>

     <div class="container">
         <form  name="searchForm">

             <div class="row">
                 <div class="form-group col-xs-12 col-sm-12">

                     <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'internShippingApp.job.home.search' | translate }}">
                 </div>

             </div>

             <div class="button-group">
                 <div class="action-buttons">
                     <button class="btn btn-primary" ng-click="vm.search(vm.searchQuery)">Search</button>
                 </div>
             </div>

         </form>

     </div>

 </header>
 <!-- END Page header -->


 <div class="container">




<!--<div>
    <h2 translate="internShippingApp.job.home.title">Jobs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="job.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="internShippingApp.job.home.createLabel">
                        Create new Job
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'internShippingApp.job.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span translate="internShippingApp.job.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shortDescription"><span translate="internShippingApp.job.shortDescription">Short Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="location"><span translate="internShippingApp.job.location">Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="compensation"><span translate="internShippingApp.job.compensation">Compensation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jobType"><span translate="internShippingApp.job.jobType">Job Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jobLevel"><span translate="internShippingApp.job.jobLevel">Job Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="education"><span translate="internShippingApp.job.education">Education</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longDescription"><span translate="internShippingApp.job.longDescription">Long Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="skills"><span translate="internShippingApp.job.skills">Skills</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="socialLinkedin"><span translate="internShippingApp.job.socialLinkedin">Social Linkedin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationDate"><span translate="internShippingApp.job.creationDate">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activeUntil"><span translate="internShippingApp.job.activeUntil">Active Until</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="active"><span translate="internShippingApp.job.active">Active</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyName"><span translate="internShippingApp.job.company">Company</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in vm.jobs track by job.id">
                    <td><a ui-sref="job-detail({id:job.id})">{{job.id}}</a></td>
                    <td>{{job.title}}</td>
                    <td>{{job.shortDescription}}</td>
                    <td>{{job.location}}</td>
                    <td>{{job.compensation}}</td>
                    <td translate="{{'internShippingApp.JobType.' + job.jobType}}">{{job.jobType}}</td>
                    <td translate="{{'internShippingApp.JobLevel.' + job.jobLevel}}">{{job.jobLevel}}</td>
                    <td translate="{{'internShippingApp.Education.' + job.education}}">{{job.education}}</td>
                    <td>{{job.longDescription}}</td>
                    <td>{{job.skills}}</td>
                    <td>{{job.socialLinkedin}}</td>
                    <td>{{job.creationDate | date:'medium'}}</td>
                        <td>{{job.activeUntil | date:'mediumDate'}}</td>
                    <td>{{job.active}}</td>
                    <td>
                        <a ui-sref="company-detail({id:job.companyId})">{{job.companyName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="job-detail({id:job.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="job.edit({id:job.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="job.delete({id:job.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>-->



        <!-- Main container -->
        <main>

            <section class="no-padding-top bg-alt">
                <div class="col-xs-12 no-padding-right">


 <!--               <div class="col-xs-12 no-padding-right">
                <button class="btn btn-primary " ui-sref="job.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="internShippingApp.job.home.createLabel">
                        Create new Job
                    </span>
                </button>
                </div>-->

                <div class="container">
                    <div class="row">


<!--                        <div class="col-xs-12">
                            <br>
                            <h5>We found <strong>357</strong> matches, you're watching <i>10</i> to <i>20</i></h5>
                        </div>-->


                        <!-- Job item -->
                        <div class="col-xs-12" ng-repeat="job in vm.jobs track by job.id">
                            <a class="item-block" ui-sref="job-detail({id:job.id})">
                                <header>
                                    <img ng-show="job.companyLogo == null" src="assets/img/logo-unknown.jpg" alt="">
                                    <img ng-show="job.companyLogo != null" data-ng-src="{{'data:' + job.companyLogoContentType + ';base64,' + job.companyLogo}}" style="max-height: 60 px;"/>
                                    <div class="hgroup">
                                        <h4>{{job.title}}</h4>
                                        <h5>{{job.companyName}} <span class="label label-success">{{job.jobType}}</span><span class="label label-info">{{job.jobLevel}}</span></h5>
                                    </div>
                                    <div class="header-meta">
                                        <span class="location">{{job.location}}</span>
                                        <time datetime="2016-03-10 20:00">34 min ago</time>
                                    </div>
                                </header>

                                <div class="item-body">
                                    <p>{{job.shortDescription}}</p>
                                </div>

                                <footer>
                                    <ul class="details cols-3">
                                        <li ng-show="job.activeUntil != null">
                                            <i class="fa fa-calendar"></i>
                                            <span>{{job.activeUntil}}</span>
                                        </li>

                                        <li ng-show="job.compensation != null">
                                            <i class="fa fa-money"></i>
                                            <span>{{job.compensation}}</span>
                                        </li>

                                        <li ng-show="job.education != null">
                                            <i class="fa fa-certificate"></i>
                                            <span>{{job.education}}</span>
                                        </li>
                                    </ul>
                                </footer>
                            </a>
                        </div>
                        <!-- END Job item -->



                    </div>


                    <!-- Page navigation -->
                    <div class="text-center">
                        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                    </div>
                    <!-- END Page navigation -->

                </div>
            </section>
        </main>
        <!-- END Main container -->



</div>
