 <!-- Site header -->
    <header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
      <div class="container no-shadow">
        <h1 class="text-center">Jobs</h1>
        <p class="lead text-center">That you posted.</p>
      </div>

    </header>
    <!-- END Site header -->

    <div class="container">


        <!-- Main container -->
        <main>

            <section class="no-padding-top bg-alt">
                <div class="col-xs-12 no-padding-right">
                <button class="btn btn-primary " ui-sref="job.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="internShippingApp.job.home.createLabel">
                        Create new Job
                    </span>
                </button>
                </div>

                <div class="container">
                    <div class="row">


                        <!-- Job detail -->
                        <div class="col-xs-12" ng-repeat="job in vm.jobs track by job.id">
                            <div class="item-block">
                                <header>
                                    <img ng-show="job.companyLogo == null" src="assets/img/logo-unknown.jpg" alt="">
                                    <a ng-show="job.companyLogo != null" ui-sref="company-detail({id:job.companyId})"><img data-ng-src="{{'data:' + job.companyLogoContentType + ';base64,' + job.companyLogo}}" style="max-height: 60 px;"/></a>
                                    <div class="hgroup">
                                        <h4><a  ui-sref="job-detail({id:job.id})" >{{job.title}}</a></h4>
                                        <h5><a ui-sref="company-detail({id:job.companyId})">{{job.companyName}}</a> <span class="label label-success">{{job.jobType}}</span><span class="label label-info">{{job.jobLevel}}</span></h5>
                                    </div>
                                    <div class="header-meta">
                                       <span class="location">{{job.location}}</span>
                                        <time datetime="2016-03-10 20:00">34 min ago</time>
                                    </div>
                                </header>

                                <footer>

                                    <p class="status"><strong><a ui-sref="resumes-for-job({id:job.id})"><span class="glyphicon glyphicon-user"> </span> Browse candidates </a></strong></p>
                                    <p class="status" style="margin-left: 15px"><strong>Expires: </strong>{{job.activeUntil}}</p>
                                    <div class="action-btn">
                                        <a class="btn btn-xs btn-gray" href="#">Edit</a>
                                        <a class="btn btn-xs btn-danger" href="#">Deactivate</a>
                                    </div>
                                </footer>
                            </div>
                        </div>
                        <!-- END Job detail -->





                    </div>


                    <!-- Page navigation -->
                    <div class="text-center">
                        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                    </div>
                    <!-- END Page navigation -->

                </div>
            </section>
        </main>
        <!-- END Main container -->



</div>
