<!-- Site header -->
<header class="site-header size-lg text-center" style="background-image: url(assets/img/bg-banner1.jpg)">
    <div class="container">
        <div class="col-xs-12">
            <br><br>
            <h2>Intern
                <mark>Shipping</mark>
            </h2>
            <h5 class="font-alt">Life's too short for wrong job</h5>
            <br><br><br>
            <form class="header-job-search">
                <div class="input-keyword">
                    <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                           placeholder="Job title, skills, or company">
                </div>

                <div class="btn-search">
                    <button class="btn btn-primary" ng-click="go( 'job', vm.searchQuery );">Find jobs</button>
                    <a ui-sref="job.new" has-authority="ROLE_COMPANY">Or publish new one!</a>
                </div>
            </form>
        </div>

    </div>
</header>
<!-- END Site header -->

<div class="container well">
    <!-- Main container -->
    <main>


        <!-- Recent jobs -->
        <section>
            <div class="container">
                <header class="section-header">
                    <span>Featured </span>
                    <h2>Companies</h2>
                </header>

                <div class="row item-blocks-connected">

                    <!-- Job item -->
                    <div class="col-xs-12">
                        <a class="item-block" href="job-detail.html">
                            <header>
                                <img src="assets/img/logo-google.jpg" alt="">
                                <div class="hgroup">
                                    <h4>Senior front-end developer</h4>
                                    <h5>Google</h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">Menlo park, CA</span>
                                    <span class="label label-success">Full-time</span>
                                </div>
                            </header>
                        </a>
                    </div>
                    <!-- END Job item -->

                    

                    <!-- Job item -->
                    <div class="col-xs-12">
                        <a class="item-block" href="job-detail.html">
                            <header>
                                <img src="assets/img/logo-microsoft.jpg" alt="">
                                <div class="hgroup">
                                    <h4>Sr. SQL Server Developer</h4>
                                    <h5>Microsoft</h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">Palo Alto, CA</span>
                                    <span class="label label-success">Remote</span>
                                </div>
                            </header>
                        </a>
                    </div>
                    <!-- END Job item -->

                </div>

                <br><br>
                <p class="text-center"><a class="btn btn-info" href="job-list.html">Browse all jobs</a></p>
            </div>
        </section>
        <!-- END Recent jobs -->


        <!-- Facts -->
        <section class="bg-img bg-repeat no-overlay section-sm" style="background-image: url(assets/img/jobfairbg.png)">
            <div class="container">

                <div class="row">
                    <div class="counter col-sm-12">
                    <h1><a class="counterh1" target="_blank" href="http://jobfair.rs/">What is Job Fair?</a></h1>
                    </div>
                </div>

                <div class="row">
                    <div class="counter col-md-3 col-sm-6">
                        <p><span data-from="0" data-to="16"></span>+</p>
                        <h6>Years</h6>
                    </div>

                    <div class="counter col-md-3 col-sm-6">
                        <p><span data-from="0" data-to="48"></span>+</p>
                        <h6>Jobs</h6>
                    </div>

                    <div class="counter col-md-3 col-sm-6">
                        <p><span data-from="0" data-to="543"></span>+</p>
                        <h6>Resume</h6>
                    </div>

                    <div class="counter col-md-3 col-sm-6">
                        <p><span data-from="0" data-to="37"></span>+</p>
                        <h6>Company</h6>
                    </div>
                </div>

            </div>
        </section>
        <!-- END Facts -->


        <!-- How it works -->
        <section>
            <div class="container">

                <div class="col-sm-12 col-md-6">
                    <header class="section-header text-left">
                        <span>Workflow</span>
                        <h2>How it works</h2>
                    </header>

                    <p class="lead">Pellentesque et pulvinar orci. Suspendisse sed euismod purus. Pellentesque nunc ex,
                        ultrices eu enim non, consectetur interdum nisl. Nam congue interdum mauris, sed ultrices augue
                        lacinia in. Praesent turpis purus, faucibus in tempor vel, dictum ac eros.</p>
                    <p>Nulla quis felis et orci luctus semper sit amet id dui. Aenean ultricies lectus nunc, vel rhoncus
                        odio sagittis eu. Sed at felis eu tortor mattis imperdiet et sed tortor. Nullam ac porttitor
                        arcu. Vivamus tristique elit id tempor lacinia. Donec auctor at nibh eget tincidunt. Nulla
                        facilisi. Nunc condimentum dictum mattis.</p>


                    <br><br>
                    <a class="btn btn-primary" href="page-typography.html">Learn more</a>
                </div>

                <div class="col-sm-12 col-md-6 hidden-xs hidden-sm">
                    <br>
                    <img class="center-block" src="assets/img/how-it-works.png" alt="how it works">
                </div>

            </div>
        </section>
        <!-- END How it works -->


        <!-- Newsletter -->
        <section class="bg-img text-center" style="background-image: url(assets/img/bg-facts.jpg)">
            <div class="container">
                <h2><strong>Subscribe</strong></h2>
                <h6 class="font-alt">Get weekly top new jobs delivered to your inbox</h6>
                <br><br>
                <form class="form-subscribe" action="#">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" placeholder="Your eamil address">
                        <span class="input-group-btn">
                <button class="btn btn-success btn-lg" type="submit">Subscribe</button>
              </span>
                    </div>
                </form>
            </div>
        </section>
        <!-- END Newsletter -->


    </main>
</div>
<!-- END Main container -->
